/* Container for the entire query */
.query-container {
    max-width: 100%;
    padding: 10px;
    /* background-color: #f5f5f5; */
    border-radius: 8px;
    overflow-wrap: break-word; /* Ensures words break to fit within the container */
    word-wrap: break-word;
    overflow: hidden;
  }
  


/* Message text within the query container */
.query-message {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #222222;
white-space: pre-wrap;
  overflow-wrap: break-word; 
}



/* Container for the reply */
.reply-container {
  max-width: 100%;
  /* margin-top: 10px; */
  padding: 10px;
  /* background-color: #e0f7fa; */
  border-radius: 8px;
  overflow: hidden; /* Prevents overflowing */
  white-space: pre-wrap;
  word-break: break-word;
}

/* Reply message text */
.reply-message {
    font-size: 0.9rem;
    color: #222222;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
  
  
  /* Avatar styling */
  .avatar {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Visitor username text */
  .visitor-username {
    font-size: 0.85rem;
    /* color: #666; */
    margin-left: 8px;
  }
  
  /* Box containing the favorite and view session buttons */
  .favorite-session-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
  }
  
  /* Styling for favorite icon */
  .favorite-icon {
    color: red;
  }