/* src/components/LoginForm.css */
.login-form-container {
    width: 90%;
    max-width: 400px;

    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
  }
  
  h2 {
    margin-bottom: 0rem;
    font-size: 24px;
    color: #333;
  }
  
  form {
    margin-bottom: 1rem;
  }
  
  .email-input {
    width: 100%;
    padding: 0.5rem;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) inset;
  }
  
  .continue-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .continue-button:hover {
    background-color: #45a049;
  }
  
  p {
    margin-bottom: 1rem;
  }
  

  

  
  .or-divider span::before {
    content: 'OR';
    display: inline-block;
    /* background: #ffffff; */
    padding: 0 10px;
    position: relative;
    top: -0.5rem;
    color: #666;
  }
  
  .social-buttons button {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .icon {
    margin-right: 8px;
  }
  
  .google-button {
    background-color: hsl(217, 89%, 61%);
    color: white;
  }
  
  .google-button:hover {
    background-color: #357ae8;
  }
  
  .microsoft-button {
    background-color: #0078d4;
    color: white;
  }
  
  .microsoft-button:hover {
    background-color: #005a9e;
  }
  
  .apple-button {
    background-color: #000;
    color: white;
  }
  
  .apple-button:hover {
    background-color: #333;
  }