/* Promo Card Styling */
.promo-card {
  display: none; /* Hidden by default */
  /* border: 1px solid #1d9ede; */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: white;
  
}

/* Show the promo card when screen width is more than 750px */
@media (min-width: 751px) {
  .promo-card {
    display: block;

  }
}

.title{
  font-size: 1rem;
  font-weight: normal;
}
/* Button Styling */
.promo-card .MuiButton-containedSecondary {
  background-color: #4caf50; /* Green color for the "Get The Session" button */
  color: white;
  font-weight: bold;
  padding: 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

/* Hover effect for the green button */
.promo-card .MuiButton-containedSecondary:hover {
  /* background-color: #388e3c;  */
}

/* For any other buttons */
.promo-card .MuiButton-outlined {
  border-color: #1d9ede;
  color: #1d9ede;
}

.promo-card .MuiButton-outlined:hover {
  border-color: #1976d2;
  color: #1976d2;
}